.body {
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.container {
  margin: 0 auto;
  text-align: center;
  /* overflow-x: auto; */
  padding: 5px;
}

.table-wrapper {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  overflow-x: auto;
  max-width: 100%;

  border-radius: 5px;
  box-shadow: 0.5px 0.5px 2px gray;
}

@media screen and (max-width: 762px) {
  .table-wrapper {
    font-size: 8px;
  }
  .date {
    font-size: 6px;
  }
}
